<div class="container bg-danger mithila">

    <div class="my-5">

        <div class="card text-center" style="width: 23rem;">
            <div class="card-body">
              
            <i class="fa fa-bookmark fa-3x" aria-hidden="true"></i>
    
              <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
              <div class="d-grid gap-2">
                <button class="btn btn-sm btn-dark" type="button">Button</button>
              </div>
    
            </div>
          </div>
    
    </div>

</div>
