<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

      <a class="navbar-brand" routerLink="/">LET'S BLOG </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item" [hidden]="(page | async) == 'login' || (User | async)">
            <a class="nav-link" routerLink="/login" routerLinkActive="active" aria-current="page">Login</a>
          </li>

          <li class="nav-item" [hidden]="(page | async) == 'signup' || (User | async)">
            <a class="nav-link" routerLink="/signup" routerLinkActive="active">Signup</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/all_blogs" routerLinkActive="active">All blogs</a>
          </li>

          <li class="nav-item" [hidden]="!(User | async)">
            <a class="nav-link" routerLink="/write_blog" routerLinkActive="active">Write blog</a>
          </li>

        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngIf="(User | async)">

          <li class="nav-item">
            <a class="nav-link me-2" [routerLink]="['/profile', (User | async)._id]" routerLinkActive="active" aria-current="page">
            {{ (User | async).first_name }}
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link btn-logout" (click)="logout()">Logout</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>