.img-section{
    width: 100%;
    height: 400px;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.author{
    .btn-sm{
        background-color: rgb(240, 240, 240);
    }
}

.blogBody{
    text-align: justify;
    word-wrap: break-word;
}

.react-section {
    .btn {
        margin-right: 7px;
        font-size: 14px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .reactBtn{
        background-color: rgb(235, 235, 235);
    }
    .reactBtn:hover{
        background-color: rgb(220, 220, 220);
    }
    i{
        margin-right: 5px;
    }
    .reacted {
        background-color: rgb(117, 117, 117) !important;
        color: white;
        .badge{
            background-color: rgb(213, 213, 213) !important;
            color: black;
        }
    }
    .badge{
        margin-left: 5px;
    }
    .bg-secondary{
        background-color: rgb(131, 131, 131) !important;
    }
}

.comments-section {
    margin-top: 10px;
    .img{
        width: 100%;
        img{
            width: 70px;
            height: 70px;
            border-radius: 5px;
            object-fit: cover;
            margin-top: 5px;
            padding: 0px !important;
        }
    }
    h3{
        font-size: 17px;
        color: rgb(83, 83, 83);
    }
    small {
        font-size: 12px;
        font-style: italic;
        color:rgb(116, 116, 116)
    }
    p{
        font-size: 14px;
        text-align: justify;
    }
}

.noBlog{
    padding-top: 70px;
    padding-bottom: 330px;
}

@media only screen and (max-width: 400px) {
    .img-section {
        height: 200px;
    }

    .author{
        display: none;
    }
}