/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: logo;
    src: url(assets/fonts/MontserratSubrayada-Bold.ttf);
    src: url(assets/fonts/MontserratSubrayada-Regular.ttf);
}
  
@font-face {
    font-family: roboto;
    src: url(assets/fonts/RobotoCondensed-Light.ttf),
    url(assets/fonts/RobotoCondensed-BoldItalic.ttf),
    url(assets/fonts/RobotoCondensed-Italic.ttf),
    url(assets/fonts/RobotoCondensed-Light.ttf),
    url(assets/fonts/RobotoCondensed-LightItalic.ttf),
    url(assets/fonts/RobotoCondensed-Regular.ttf);
}

html, body{
    font-family: roboto;
}

.navbar .navbar-brand{
    font-family: logo;
}

.bgLight{
    background-color: #e9ecef!important;
    border: none
}

.btnLight{
    color: #000000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btnLight:hover{
    color: #030303;
    background-color: #ffffff;
    border-color: #ffffff;
}

.bg-dark{
    background-color: #343a40!important;
}

.btn-dark{
    background-color: #343a40!important;
}

label{
    font-weight: bold;
}

.maxW400{
    max-width: 400px;
}

.section-title{
    font-size: 20px;
    font-weight: 600;
}

.categorySection {
    li{
        cursor: pointer;
    }
}

.blogs{
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(230, 230, 230);
    margin-bottom: 20px;
    
    .img{
        overflow: hidden;
        height: 150px !important;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-right-radius: 7px;
            border-top-left-radius: 7px;
            transition: 0.3s ease-in
        }
    }
    
    h5{
        height: 50px;
        font-size: 18px;
        font-weight: bold;
        a{
            text-decoration: none;
            color: black;
        }
    }
    
    p{
        font-size: 15px;
        
        .fa-user-circle-o {
            margin-right: 4px;
        }

        .fa-bookmark{
            margin-left: 3px;
            margin-right: 5px;
        }
    }
}

.blogs:hover img{
    transform: scale(1.1);
    transition: 0.3s ease-in
}

.pagination{
    li a{
        color: black !important;  
        cursor: pointer;  
    }
    .page-item.active .page-link{
        background-color: rgb(31, 31, 31) !important;
        color: white !important;
        border-color: black;
    }
}

.blogSection{
    min-height: 600px;
}